version: "3.7"

services:
  nginx:
    image: nginx
    #    ports:
    #      - 8080:80
    volumes:
      - type: volume
        source: data2
        target: /usr/share/nginx/html
        read_only: true
        volume:
          nocopy: true
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.nginx.rule=Host(`${MIGRANTS_HOSTNAME}`)"
      - "traefik.http.routers.nginx.entrypoints=web"
      - "traefik.http.routers.nginx2.rule=Host(`${MIGRANTS_HOSTNAME}`)"
      - "traefik.http.routers.nginx2.entrypoints=web-secure"
      - "traefik.http.services.nginx.loadbalancer.server.port=80"
      - "traefik.http.routers.nginx2.tls=true"
    networks:
      - micado_net
  #        aliases:
  #          - ng
  d:
    command: "sh -c 'rm -rf /var/www/html/* && ls -lat /var/www/html/ && cp -ra /var/www/html2/* /var/www/html/ && ls -lat /var/www/html/ && trap : TERM INT; (while true; do sleep 1000; done) & wait'"
    #TODO more elegant copy like copy with mv
    image: micadoproject/migrant_app_site # change tag and redeploy stack

    volumes:
      - data2:/var/www/html

    networks:
      - micado_net

  watchtower:
    image: containrrr/watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    #      - /root/.docker/config.json:/config.json
    command: --interval 30 --no-pull
    networks:
      - micado_net

  migrants_app_dev:
    image: micadoproject/quasar:1.1.2-cypress
    stdin_open: true
    tty: true
    volumes:
      - type: volume
        source: migrants_app
        target: /code
    ports:
      - "8000:8000"
      - "8080:8080"
    command: /bin/sh -c "npm install && quasar dev -m pwa"
    networks:
      - micado_net

  balancer:
    image: traefik:v2.1
    ports:
      - "80:80"
      - "8081:8080"
      - "443:443" # The HTTPS port
    volumes:
      - ./traefik/traefik.toml:/etc/traefik/traefik.toml
      - ./traefik/dynamic.toml:/etc/traefik/dynamic.toml
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - ./traefik/certs:/etc/certs # SSL Development certificates
    networks:
      - micado_net

  jsreport:
    image: jsreport/jsreport:2.6.1-full
    volumes:
      - ./jsreport-home:/jsreport
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.jsreport.rule=Host(`${REPORT_HOSTNAME}`)"
      - "traefik.http.routers.jsreport.entrypoints=web"
      - "traefik.http.services.jsreport.loadbalancer.server.port=80"
    ports:
      - "5488:5488"
    networks:
      - micado_net

volumes:
  migrants_app:
    driver: local
    driver_opts:
      type: none
      # device is the path in the host that has to be absolute
      device: $PWD/app
      o: bind
  data2:
    driver: local

networks:
  micado_net:
    #    driver: bridge
    external: true
